<!-- extends base layout -->
{%  extends "base.html" %}

{% block content %}
    <div class="container">
         <h1 class="modal-title">Hello aspiring fund manager!</h1>
         <h2>What security would you like to analyze with Bollinger Bands?</h2>
        <form role="form" action="" method="post" name="security">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="security">Enter Security: </label>
                {{ form.security(size=10,maxLength=10,class="form-control",placeholder="Ex: MSFT") }}
            </div>
             <button type="submit" value="Submit"class="btn btn-primary">Submit</button>
        </form>
          <div>
              <br>
            <p>Would you like to <a href="{{ url_for('more') }}">choose</a> which strategy to use?</p>
        </div>
    </div>
{% endblock %}