<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test page</title>
</head>

<body>
    <h1>Hello aspiring fund manager!</h1>
    <form action="" method="post" name="security">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Enter security you would like to analyze:</td>
                <td>{{ form.security(size=10, maxlength=10) }}</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <p>Would you like to <a href="{{ url_for('more') }}">choose</a> which strategy to use?</p>
</body>
</html>