<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PyStock Indicators</title>
</head>

<body>
    <h1>Hello aspiring fund manager!</h1>
    <form action="{{ url_for('moreResults') }}" method="post">
        <p><label>Security:</label><input type="text" name="security" required></p>
        <p><label>Strategy:</label>
            <select name="strategy" required>
                <option value="MACD">MACD</option>
                <option value="Bollinger">Bollinger Bands</option>
                <option value="Benchmark">Buy and Hold</option>
            </select>
        </p>
        Start date:
        <input type="date" name="datestart" value="2000-01-01">
        End date:
        <input type="date" name="dateend" max={{ today }} value={{ today }}>
        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>