<!-- extends base layout -->
{%  extends "base.html" %}

{% block content %}
    <div class="well well-lg">
    <h1>Hello aspiring quant traders!</h1>
    <form action="{{ url_for('moreResults') }}" method="post">
        <p><label>Security:</label><input type="text" name="security" required></p>
        <p><label>Strategy:</label>
            <select name="strategy" required>
                <option value="MACD">MACD</option>
                <option value="MACDDiff">MACDDiff</option>
                <option value="Bollinger">Bollinger Bands</option>
                <option value="BuyHold">Buy and Hold</option>
            </select>
        </p>
        Start date:
        <input type="date" name="datestart" value="2000-01-01">
        End date:
        <input type="date" name="dateend" max={{ today }} value={{ today }}>
        <p><button type="submit" class="btn btn-primary">Submit</button></p>
    </form>
    </div>

{% endblock %}