<!-- extends base layout -->
{%  extends "base.html" %}

{% block content %}
    <div class="well well-lg">
        <div class="page-header">
            <h1>
                Looks like you wanted to analyze {{ security }}
                <small>
                    We'll get right on it!
                </small>
            </h1>
        </div>

        <p>Here's a preview of the financial data we pulled:</p>
        <table border="1" style="width:80%">
            {% for eachLine in data %}
                <tr>
                {% for eachItem in eachLine %}
                    <th>{{ eachItem }}</th>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p>You started with $10000, and ended up with a net worth of {{ netWorth }}!</p></br>
        <p>Your annual return for every year is shown below:</p>
        <table border ="1" style = "width:80%">
            <tr>
                <th>Date</th>
                <th>Net Worth Annual Return</th>
                <th>Benchmark Annual Return</th>
            </tr>
            {% for n in range(0,numYears) %}
                <tr>
                    <th>{{ resultYears[n] }}</th>
                    <th>{{ '%.2f' % netWorthAnnualReturn[n] }}%</th>
                    <th>{{ '%.2f' % benchmarkAnnualReturn[n] }}%</th>
                </tr>
            {% endfor %}
        </table>
        </br><p>Your total annualize return is {{ '%.2f' % totalNetWorthReturn }}%</p>

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/exporting.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/highstock.js') }}"></script>

        <div id="container" class=""></div>
        <br><br>
        <div id="container2" style="height: 400px; min-width: 310px"></div>
    </div>
{% endblock %}